{% extends 'base.html' %}
{% block page_title %}註冊{% endblock %}

{% block navigation %}
<div class="container">
    <h3>客戶註冊</h3>
    <hr />
</div>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 1em;">
    <form method='post'>
        {% csrf_token %}
        <div class="form-group">
            <label>電話號碼</label>
            <input type="text" name="pnum" class="form-control" placeholder="電話號碼" value="{{ request.POST.pnum }}" required />
        </div>
        {% if confirm %}
        <div class="form-group">
            <label>確認碼</label>
            <input type="text" name="confirm-code" class="form-control" placeholder="確認碼" />
        </div>
        {% endif %}
        {% if confirm %}
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary" type="submit" name="submit" value="confirm">確認</button>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-danger" type="submit" name="submit" value="check">重新發送確認碼</button>
            </div>
        </div>
        {% else %}
        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="submit" value="check">繼續</button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}