{% extends 'base.html' %}
{% block page_title %}註冊{% endblock %}
{% block content %}
<style>
form label, form input, form.button {
    margin-right: 1em;
}
</style>
<div class="container" style="margin-top: 1em;">
    <h3>註冊完成</h3>
    <hr />
    <h5>基本資料</h5>
    <div>身份：{% if role == "employee" %}照服員/工作人員{% else %}家屬{% endif %}</div>
    <div>姓名：{{ source.name }}</div>
    <div>電子郵件：{{ source.profile.email }}</div>
    <div>聯絡電話：{% if role == "employee" %}{{ source.profile.phone }}{% else %}{{ source.phone }}{% endif %}</div>
    <hr />
    {% if role == "customer" %}

    <h5>個案</h5>
    {% for guardian in source.guardian_set.all %}
        <div style="margin: 1em 0 1em 0;">{{ guardian.patient.name }} - {{ guardian.relation }}</div>
    {% endfor %}
    <div style="margin: 1em 0 1em 0;">
        <form class="form-inline" method="post" action="{% url "line_association" "associate" %}">
            {% csrf_token %}
            <label>新增個案家屬</label>
            <input type="text" name="patient_case_id" class="form-control form-control-sm" placeholder="合約號碼" />
            <input type="text" name="patient_relation" class="form-control form-control-sm" placeholder="關係: 父子, 母子 等等" />
            <button type="submit" class="btn btn-primary btn-sm">送出請求</button>
        </form>
    </div>
    <hr />

    {% endif %}
    <h5>LINE 資料</h5>
    {% for profile in line_profiles %}
        {% if 'displayName' in profile %}
        <div style="margin: 1em 0 1em 0;">
            <div class="row">
                <div class='col-2'>
                    <img src="{{ profile.pictureUrl }}" class="img-thumbnail" />
                </div>
                <div class='col-10'>
                    <div>{{ profile.displayName }}</div>
                    <small>狀態 {{ profile.statusMessage }}</small><br />
                    <small>識別碼 {{ profile.userId }}</small>
                </div>
            </div>
        </div>
        {% else %}
        <div style="margin: 1em 0 1em 0;">無法處 LINE 識別碼 '{{ profile.userId }}'</div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
