<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<style>
.form-inline input {
    margin-left: 1em;
    margin-right: 1em;
}

input[type="radio"], input[type="checkbox"] {
    margin-left: 0.75em;
    margin-right: 0.05em;
}

input.input-size6 {
    width: 6em;
}

ul {
    padding: 0; margin: 0;
    display: inline;
}
li, li label, li input {
    display: inline !important;
}

label {
    white-space: nowrap;
}

.gray {
    color: gray;
}

</style>
<script>
    var mode = "{{ mode }}";
    function validate() {
        return;
        $("input:invalid").each((index, element) => {
            switch (element.type) {
                case "radio":
                    element.checked = true;
                    break;
                default:
                    $(element).val("1");
            }
        });
    }

    $(function() {
        if (mode === 'readonly') {
            $("input,select").attr("disabled", true);
            $('label:has(input[type="radio"]:not(:checked),input[type="checkbox"]:not(:checked))').addClass('gray');
        }
    });
</script>
<body>
    <div class="container-fluid">
        <h3><span>{{ patient.name }}</span> 照護回報</h3>
        <div><b>日期 <span id="p-date">{{ date|date:'Y-m-d' }}</span></b></div>
        <hr />
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                {% else %}
                    <div class="alert alert-primary" role="alert">
                {% endif %}
                {{ message.message }}</div>
            {% endfor %}
        {% endif %}
        <form method="POST" onsubmit="alert(1);">
            {% csrf_token %}
            <div><b>生命徵象</b></div>
            <div class="form-inline">
                血壓
                {{ form.r1_1 }} / {{ form.r1_2 }} mmHg
            </div>
            <div class="form-inline">
                脈搏
                {{ form.r1_3 }} 次
                {{ form.r1_4 }}
            </div>

            <div class="form-inline">體溫 {{ form.r1_5 }} 度</div>
            <div class="form-inline">
                呼吸 {{ form.r1_6 }} 次/分
                {{ form.r1_7 }}
            </div>

            <hr />
            <div><b>意識狀態</b></div>

            <div class="form-inline">
                {{ form.r2_1 }}
            </div>


            <hr />
            <div><b>認知精神狀態</b></div>

            <div>意識情形</div>
            <div class="container">
                {{ form.r3_1 }}
            </div>

            <div>知覺狀況</div>
            <div class="container">
                {{ form.r3_2 }}
            </div>

            <div class="form-inline">睡眠</div>
            <div class="form-inline">昨晚 {{ form.r4_1 }} 小時</div>
            <div class="form-inline">午睡 {{ form.r4_2 }} 分鐘</div>

            <div class="container">
                {{ form.r4_3 }}
            </div>

            <div>行為</div>
            <div class="container">
                {{ form.r4_4 }}
                {{ form.r4_4e }}
            </div>

            <div>情緒</div>
            <div class="container">
                {{ form.r5_1 }}
                {{ form.r5_1e }}
            </div>

            <hr />
            <div><b>日常活動</b></div>
            <div class="form-inline">
                {{ form.r6_1 }}
                {{ form.r6_1e }}
            </div>

            <div>日課表活動 參與狀況</div>
            <div class="container">
                {{ form.r6_2 }}
            </div>

            <hr />
            <div><b>消化營養</b></div>
            <div class="form-inline">
                日課飲食
                {{ form.r7_1 }}
            </div>
            <div class="form-inline">
                菜單
                {{ form.r7_2 }}
            </div>
            <div class="form-inline">
                食慾 {{ form.r7_3 }} (速度與量)
            </div>

            <div class="form-inline">
                途徑 {{ form.r7_4 }}
            </div>

            <div class="form-inline">
                小便 {{ form.r7_5 }} 次
                {{ form.r7_6 }}
            </div>

            <div class="form-inline">
                小便需求
                {{ form.r7_7 }}
            </div>

            <div class="form-inline">
                小便狀況
                {{ form.r7_8 }}
                {{ form.r7_8e }}
            </div>

            <div class="form-inline">
                大便 {{ form.r7_9 }} 次
                {{ form.r7_10 }}
            </div>

            <div class="form-inline">
                大便需求
                {{ form.r7_11 }}
            </div>

            <div class="form-inline">
                大便狀況
                {{ form.r7_12 }}
                {{ form.r7_12e }}
            </div>

            <div class="form-inline">
                用藥狀況
                {{ form.r7_13 }}
            </div>

            <hr />
            <div><b>皮膚狀況</b></div>

            <div class="form-inline">
                <label>{{ form.r8_1 }} 正常</label>
            </div>

            <div class="form-inline">
                <label>{{ form.r8_2 }} 異常</label>
            </div>
            <div class="container">
                <div class="form-inline">
                    部位 {{ form.r8_2e }}
                </div>
                <div class="form-inline">
                    {{ form.r8_2f }}
                </div>
            </div>

            <div class="form-inline">
                <label>{{ form.r8_3 }} 傷口</label>
            </div>
            <div class="container">
                <div class="form-inline">
                    部位 {{ form.r8_3e }}
                </div>
                <div class="form-inline">
                    大小 {{ form.r8_3s }}
                    等級 {{ form.r8_3l }}
                </div>
            </div>

            <div class="form-inline">
                異常狀況處理 {{ form.r8_4 }}
            </div>

            <div class="form-inline">
                輔具使用
                {{ form.r8_5 }}
                {{ form.r8_5e }}
            </div>

            <hr />
            <div><b>異常狀態</b></div>

            <div class="form-inline">
                {{ form.r9_1 }}
                {{ form.r9_1e }}
            </div>

            <hr />
            <center>
                {% if mode == "review" %}
                    <button type="submit" class="btn btn-sm btn-primary" name="action" value="review">
                        {% if reviewed %}
                        修改審核結果z
                        {% else %}
                        審核完成
                        {% endif %}
                    </button>
                {% elif mode == "edit" %}
                    <button type="submit" class="btn btn-sm btn-primary" name="action" value="submit">送出a</button>
                {% endif %}
            </center>
        </form>
    </div>
</body>
</html>